include ../common/static

html 
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1, width=device-width, user-scalable=0, minimal-ui")
    +js("./neurons/neuron.js")
    +js("./neurons/config.js")
    script.
      neuron.config({
        path:'./neurons'
      })
    block head
  body
    block content

