global-reset()

@import "common/*"

body
  background-color:#efefef
  min-height:100%


.detail
  width:100%
  background-color:#fafafa
  min-height:120px
  position:relative
  img
    width:100%
    opacity:0
    transition: opacity 1.3s
  .loading
    position:absolute
    width:100%
    top:46%
    text-align:center
    color:#666666
    font-size:12px
  p
    padding:10px
    font-size:14px

.panel
  background-color:#ffffff
  border-bottom:1px solid #dedede

.top-area
  height:60px
  padding:0px 10px
  .title
    float:left
    line-height:60px
  .btn
    margin-left:5px
    float:right
    background-color:#dd6d39
    height:36px
    line-height:36px
    margin-top:12px
    padding: 0px 20px
    color:#ffffff

.description
  padding:10px
  font-size:13px
  line-height:1.4
  color:#666666

.comments
  background-color:#efefef
  border-bottom:none
  padding:10px
  .user-comment
    clearfix()
    margin-bottom:10px
    .aside
      float:left
      width:50px
      img
        cycle(40px)
        opacity:0
        transition: opacity 1.6s
    .content
      .top
        .name
          font-size:13px
          color:#666666
      .comment
        background-color:#ffffff
        margin-left:50px
        margin-top:7px
        padding:10px
        font-size:13px
        line-height:1.4
        min-height:30px
        color:#333333
        // border-radius:5px
        //border:1px solid #dedede

.comment-btn 
  height:40px
  margin:9px
  line-height:36px
  font-size:13px
  background-color:#ffffff
  border:1px solid #dedede
  position:relative
  text-align:center
  color:#666666

.dialog
  position:fixed
  top:50%
  left:50%
  height:160px
  width:280px
  margin-left:-140px
  margin-top:-150px
  background-color:rgba(255,255,255,0.9);
  border-radius:13px
  border:1px solid #dedede
  padding:10px
  textarea
    padding:5px
    height:100px
    border:none
    font-size:16px
    width:100%
    color:#666666

