global-reset()

@import "common/*"

body
  background-color:#efefef
  min-height:100%


.detail
  width:100%
  background-color:#fafafa
  min-height:120px
  position:relative
  img
    -webkit-user-select:auto
    width:100%
    opacity:0
    transition: opacity 1.3s
  .loading
    position:absolute
    width:100%
    top:46%
    text-align:center
    color:#666666
    font-size:12px
  p
    padding:12px 10px
    font-size:14px
  

.panel
  background-color:#ffffff
  border-bottom:1px solid #dedede

.top-area
  height:60px
  padding:0px 10px
  .title
    float:left
    line-height:60px
  .like-btn
    margin-left:5px
    float:right
    background-color:#dd6d39
    height:36px
    line-height:36px
    margin-top:12px
    padding: 0px 16px
    color:#ffffff
    img
      width:11px
      height:11px
      margin-right:6px

.like-animation
  animation-duration: .5s
  animation-name: like

@keyframes like {
  0% {
    transform:  translateY(0px)      
  }
  50%{
    transform:scale(1.6,1.6)

  }
  100% {
    transform:scale(1,1)
  }
}

.description
  padding:10px
  font-size:13px
  line-height:1.4
  color:#666666

.comments
  background-color:#efefef
  border-bottom:none
  padding:16px 10px 0px 10px
  .user-comment
    clearfix()
    margin-bottom:18px
    .aside
      float:left
      width:50px
      img
        cycle(40px)
        opacity:0
        transition: opacity 1.6s
    .content
      .comment
        background-color:#ffffff
        margin-left:50px
        padding:10px
        font-size:13px
        line-height:1.4
        min-height:30px
        color:#333333
        // border-radius:5px
        //border:1px solid #dedede

.comment-btn 
  height:40px
  margin:9px
  line-height:36px
  font-size:13px
  background-color:#ffffff
  border:1px solid #dedede
  position:relative
  text-align:center
  color:#666666

