global-reset()

@import "common/*"

red=#da552f
shadow= 0px 1px 1px 0px rgba(80,80,80,.2)

body
  background-color:#efefef

.wrapper
  width:100%
  center()

.product
  margin:10px 10px
  background-color:#ffffff
  border:1px solid #dedede
  position:relative
  .thumb
    position:relative
    width:100%
    .views
      position:absolute
      color:#ffffff
      background-color:rgba(0,0,0,.8)
      fong-size:8px
      padding:5px
      border-radius:5px
      top:10px
      left:10px
    img
      opacity:0
      width:100%
      transition: opacity 2s;
  .content
    padding:10px
    position:relative
    .angle
      position:absolute
      left:22px
      top:-6px
      width: 12px; 
      height: 12px; 
      background: #ffffff; /* assign a nice red color */
      transform: rotate(45deg); /* rotating 45 degrees clockwise */
    .title
      font-size:14px
    .description
      line-height:1.4
      margin-top:5px
      font-size:13px
      color:#999999
