global-reset()

@import "common/*"

body
  background-color:#efefef

.wrapper
  width:100%
  center()
  position:relative
  z-index:30


.category-list
  position:fixed
  z-index:200
  max-height:0px
  width:100%
  top:0px
  left:0px
  line-height:38px
  background-color:#ffffff
  overflow:scroll
  transition: max-height 0.3s
  .category
    height:40px
    padding: 0px 20px
    font-size:14px
    border-bottom:1px solid #dedede
    &:last-child
      border-bottom:none
  .active
    background-color:#555555
    color:#ffffff

.spread
  max-height:240px
  border-top:1px solid #dedede
  border-bottom:1px solid #dedede

.design
  margin:9px 9px
  background-color:#ffffff
  border:1px solid #dedede
  position:relative
  .thumb
    position:relative
    width:100%
    min-height:120px
    background-color:#fafafa
    .loading
      position:absolute
      width:100%
      top:46%
      text-align:center
      color:#666666
      z-index:5
      font-size:13px
    img
      position:relative
      z-index:10
      display:inline-block
      opacity:0
      width:100%
      transition:opacity 1.3s
  .likes
    position:absolute
    z-index:50
    color:#ffffff
    background-color:rgba(0,0,0,.4s)
    font-size:12px
    font-weight:500
    padding:6px 8px 7px 8px
    border-radius:15px
    top:10px
    left:10px
    opacity:0
    transition:opacity .7s
    img
      z-index:100
      display:inline-block
      width:9px
      height:9px
      margin-right:4px
    
  .content
    padding:10px
    position:relative
    .angle
      position:absolute
      left:22px
      top:-6px
      width: 12px; 
      height: 12px; 
      background: #ffffff; /* assign a nice red color */
      transform: rotate(45deg); /* rotating 45 degrees clockwise */
    .title
      font-size:14px
      line-height:1.2
    .description
      line-height:1.4
      margin-top:7px
      font-size:12px
      color:#999999
      max-height:18px
      overflow:hidden
      white-space nowrap
      text-overflow:ellipsis

.more 
  margin:10px 10px
  height:40px
  line-height:36px
  font-size:13px
  background-color:#ffffff
  border:1px solid #dedede
  position:relative
  text-align:center
  color:#333333
  &:hover
    background-color:#fafafa

.error
  position:fixed
  z-index:10
  top:48%
  text-align:center
  font-size:16px
  color:#555555
  width:100%
    
