include ./common/component

extends layout/default.jade

block head  
  title index
  +css("./css/index.css")

mixin design()
  .design
    .likes
      img(src="./img/icon-heart.png")
      span.txt 12
    .thumb
      img(onload="this.style.opacity=1")
      .loading 加载中...
    .content
      .angle
      .title
      .description

mixin category(txt)
  .category #{txt}

block content
  .wrapper
    .category-list-wrapper
        .category-list
          .category-template.hide
            +category('最新')
    .design-list
      .design-template.hide
        +design()
    .more.hide 加载更多
  .error.hide
    .txt 网络连接错误
  script.
    facade({
      entry:"novel-design-static/entries/collections.js"
    })
   


