include ./common/component

extends layout/default.jade

block head  
  title index
  +css("./css/detail.css")

mixin comment()
  .user-comment
    .aside
      img(onload="this.style.opacity=1")
    .content
      .comment

block content
  .wrapper
    .detail
      .loading 加载中...
    .panel.top-area
      .title
      .like-btn
        img(src="./img/icon-heart.png")
        span Like
    .panel.description.hide
    .panel.comments
      .comment-template.hide
        +comment()
    .btn.comment-btn 评论
    .btn.buy-btn.hide 购买

  script.
    facade({
      entry:"novel-design-static/entries/detail.js"
    })
   


