include ./common/component

extends layout/default.jade

block head  
  title index
  +css("./css/detail.css")

mixin comment()
  .user-comment
    .aside
      img(onload="this.style.opacity=1" src="https://avatars0.githubusercontent.com/u/1646564?s=460")
    .content
      .top
        span.name ltebean:
      .comment 非常棒的设计, 很有趣哦

block content
  .wrapper
    .detail
      .loading Loading...
    .panel.top-area
      .title 卫生间设计
      .btn Like
    .panel.description 提供各国家地区关
    .panel.comments
      .comment-template.hide
        +comment()
    .comment-btn 评论
  .dialog.hide
    textarea(placeholder="评论..." autofocus)
    .confirm-btn 发送

  script.
    facade({
      entry:"novel-design-static/entries/detail.js"
    })
   


